.End{
background-color: black;
color: white;
text-align: left;
display: flex;
justify-content: space-between;
height: 300px;
padding-right: 50px;
padding-left: 50px;
}

.End .links{
display: block;
text-align: left;
color: white;
padding-top: 100px;
}

.links a{
text-decoration: none;
list-style: none;
color: white;
display: block;
margin-bottom: 10px;
}

.links span b{
color: white;
}

.lt{
margin-top: 100px;
}
