.users img{
border-radius: 20px;
width: 35px;
height: 35px;
border: solid 3px white;

}
.users img:not(:first-child){	
margin-left: -10px;
}
.users{
display: flex;
}
.users span{
margin-top: 10px;
}
.store img{
width: 20px;
height: 20px;
padding-right: 10px;
padding-right: 20px;
padding-left : 5px;
}
.store{
border-radius: 30px;
height: 60px;
text-align: center;
margin-right: 10px;
margin-top: 30px;
padding-right: 20px;
}
#spn{
color: #FF1493;
}

.First h1{
font-size: xxx-large;
font-family: sans-serif;
}
.First{
margin-left: 30px;
width: 100%;
}
#banner{
float: right;
height: 400px;
margin-right: 100px;
}
